/* Base style for dots and arrows */
.slick-dots li button:before,
.slick-dots li.slick-active button:before,
.slick-prev:before,
.slick-next:before {
  opacity: 0.75;
}

/* Dark mode */
:root[class~="dark"] .slick-dots li button:before,
:root[class~="dark"] .slick-dots li.slick-active button:before,
:root[class~="dark"] .slick-prev:before,
:root[class~="dark"] .slick-next:before {
  color: white !important;
}

/* Light mode */
:root:not([class~="dark"]) .slick-dots li button:before,
:root:not([class~="dark"]) .slick-dots li.slick-active button:before,
:root:not([class~="dark"]) .slick-prev:before,
:root:not([class~="dark"]) .slick-next:before {
  color: black !important;
}

/* Positioning of navigation buttons */
.slick-prev {
  left: -10px !important;
  z-index: 1;
}

.slick-next {
  right: -10px !important; 
  z-index: 1;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.markdown-content iframe,
.markdown-content video {
  max-width: 100%;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin: 1rem 0;
}

.video-container iframe,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}