/* Base style for dots and arrows */
.slick-dots li button:before,
.slick-dots li.slick-active button:before,
.slick-prev:before,
.slick-next:before {
  opacity: 0.75;
}

/* Dark mode */
:root[class~="dark"] .slick-dots li button:before,
:root[class~="dark"] .slick-dots li.slick-active button:before,
:root[class~="dark"] .slick-prev:before,
:root[class~="dark"] .slick-next:before {
  color: white !important;
}

/* Light mode */
:root:not([class~="dark"]) .slick-dots li button:before,
:root:not([class~="dark"]) .slick-dots li.slick-active button:before,
:root:not([class~="dark"]) .slick-prev:before,
:root:not([class~="dark"]) .slick-next:before {
  color: black !important;
}

/* Positioning of navigation buttons */
.slick-prev {
  left: -10px !important;
  z-index: 1;
}

.slick-next {
  right: -10px !important; 
  z-index: 1;
}

/* Ensures that buttons are on top of the content */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}